# Virtual Environment
venv/
ENV/
env/
.venv/

# Environment Configurations
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Python cache & logs
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.log
scraper.log
profiles.json

# Node dependencies and build files
node_modules/
frontend/node_modules/
frontend/dist/
dist/

# Editor / System settings
.vscode/
.idea/
.DS_Store
Thumbs.db
